* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

*, *::before, *::after{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; 
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

  ::-webkit-scrollbar-corner{
    border-radius: 10px;
}

/* Styling of navigation ------------------------------------------------------------------------ */

.navigation{
    position: fixed;
    width: 100%;
    z-index: 0;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 8px;
    transition: all .6s ease-in(0,0,.4,.2);
    z-index: 0;
    overflow-y: hidden;
}

.logo {
    width: 100%;
    padding: 20px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.logo img{
    cursor: pointer;
}


@media (max-width: 480px){
    .menu {
        position:fixed;
        display: flex;
        align-items: center;
        margin-right: 25px;
        transition: all 2s ease ;
        font-size: 45px;
        cursor:pointer;
        transition: 0.2s;
        z-index: 999;
    }

    .menu a svg{
        fill:white;
    }

    nav ul{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav li{
        height: 50px;
    }

    .links{
        height: 100%;
        padding: 0 30px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: black;
    }
    
    nav li:first-child{
        margin-right: auto;
    }

    .sidebar{
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        z-index: 999;
        background-color: rgba(255, 255, 255, 0.85);
        backdrop-filter: blur(10px);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.01);
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .sidebar li{
        width: 100%;
    }

    .close{
        display: flex;
        justify-content: space-between;
        margin: 10px 0px;
        z-index: 999;
    }

    .close span{
        margin: auto 0;
        padding-left: 30px;
    }

    .close svg{
        margin: auto 0;
        margin-right: 20px;
    }
    
    /*Removing navigation dropdown from logo*/
    .navigation-dropdown{
        display: none;
    }
}

@media (min-width: 480px){
    .menu {
        display:none;
    }

    nav{
        display: none;
    }
    
    .navigation-dropdown{
        z-index: 998;
        top: 0;
        width: 100%;
        position:fixed;
        overflow:hidden;
        text-align: center;
        max-height: 0;
        transition: max-height 0.6s ease-out;
        background-color: #fcfcfc;
    }
    
    .navigation-flex{
        display: flex;
        justify-content: center;
        column-gap: 4%;
        padding-top: 40px;
        margin: 0 10px;
    }

    .navigation-flex a {
        color: #000000;
        text-decoration: none;
    }

    .navigation-flex a:hover {
        color:#747474; 
        text-decoration:none; 
        cursor:pointer;  
    }
    
    .navigation-container{
        font-size: 20px;
        color: black;
    }

    .navigation-container img{
        object-fit: contain;
        max-width: 130px;
        margin-bottom: 10px;
    }

    .social-media{
        display: flex;
        column-gap: 15px;
        justify-content: right;
        align-items: center;
        margin-bottom: 20px;
        margin-right: 30px;
        font-size: 18px;
    }

    .social-media a:link{
        color: black;
        background-color: transparent;
        text-decoration: none;
        cursor: pointer;
    }
      
    .social-media a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
    }
    
    .social-media a:hover {
    color: black;
    font-weight: bold;
    background-color: transparent;
    text-decoration: underline;
    }
    
    .social-media img{
        max-width: 30px;
        width: 100%;
        max-height: 30px;
        height: 100%;
        border-radius: 10px;
    }
}

/* ------------------------------------------------------------------------------------------- */


/* Styling of containerVideo ------------------------------------------------------------------------ */
.containerVideo {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index:-5;
    overflow-y: hidden;
}

.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -4;
    object-position: center;
}

.containerVideo svg{
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-top: 200%;
    fill: rgba(255, 255, 255, 0.8);
}

/* ------------------------------------------------------------------------------------------- */


/* Styling of ourstory-container ------------------------------------------------------------------------ */

.ourStory-container{
    width: 100vw;
    margin: 23vh 0;
}

#ourStory-title{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

.ourStory-picturecontent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 90px;
    row-gap: 50px;
    margin: 50px 50px;
}

.ourStory-picturecontent img{
    max-width: 580px;
    max-height: 550px;
    width: auto;
    height: 100%;
    border-radius: 20px;
}

.ourStory-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 50px;
    max-width: 540px;
    width:100%;
    font-size: 18px;
}

.VMV-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    column-gap: 105px;
    row-gap: 80px;
    margin-top: 10px;
}

.VMW{
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    row-gap: 10px;
}

#VMW-title{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

/* @media (max-width: 1450px){
    .ourStory-container{
        margin: 25vh 0;
    }
} */

/* ------------------------------------------------------------------------------------------- */


/* Styling of footer ------------------------------------------------------------------------ */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #ececec;
    text-align: center;
}

.social-icons a:link, .footer-links a:link {
    color: #000000;
    text-decoration: none;
}

.social-icons a:hover, .footer-links a:hover {
    color:#747474; 
    text-decoration:none; 
    cursor:pointer;  
}

.social-icons a:visited, .footer-links a:visited{
    color: #000000;
    text-decoration: none;
}

.social-icons a:active, .footer-links a:active{
    color: #000000;
    text-decoration: none;
}

#footer-title{
    font-weight: bold;
    font-size: 18px;
}

.social-icons, .footer-links{
    display: flex;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.social-icons img{
    max-width: 30px;
    width: 100%;
    max-height: 30px;
    height: 100%;
    border-radius: 10px;
}

.copyright{
    font-size: 12px;
    color: #929292
}

