@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    overflow: hidden;
}

*, *::before, *::after{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  ::-webkit-scrollbar-corner{
    border-radius: 10px;
  }

.overallContainer{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.containerTop, .containerMiddle, .containerBottom, footer{
    height: 100vh;
    scroll-snap-align: start;
}

/* Navigation styling -----------------------------------------------------------*/

.navigation{
    position: fixed;
    width: 100%;
    z-index: 0;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 8px;
    transition: all .6s ease-in(0,0,.4,.2);
    z-index: 0;
}

.logo {
    width: 100%;
    padding: 20px;
    padding-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.logo img{
    cursor: pointer;
}

@media (max-width: 480px){
    .menu {
        position:fixed;
        display: flex;
        align-items: center;
        margin-right: 25px;
        transition: all 2s ease ;
        font-size: 45px;
        cursor:pointer;
        transition: 0.2s;
        z-index: 999;
    }

    .menu a svg{
        fill:white;
    }

    nav ul{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav li{
        height: 50px;
    }

    .links{
        height: 100%;
        padding: 0 30px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: black;
    }
    
    nav li:first-child{
        margin-right: auto;
    }

    .sidebar{
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        z-index: 999;
        background-color: rgba(255, 255, 255, 0.85);
        backdrop-filter: blur(10px);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.01);
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .sidebar li{
        width: 100%;
    }

    .close{
        display: flex;
        justify-content: space-between;
        margin: 10px 0px;
        z-index: 999;
    }

    .close span{
        margin: auto 0;
        padding-left: 30px;
    }

    .close svg{
        margin: auto 0;
        margin-right: 20px;
    }
    
    /*Removing navigation dropdown from logo*/
    .navigation-dropdown{
        display: none;
    }
}

@media (min-width: 480px){
    .menu {
        display:none;
    }

    nav{
        display: none;
    }
    
    .navigation-dropdown{
        z-index: 998;
        top: 0;
        width: 100%;
        position:fixed;
        overflow:hidden;
        text-align: center;
        max-height: 0;
        transition: max-height 0.6s ease-out;
        background-color: #fcfcfc;
    }
    
    .navigation-flex{
        display: flex;
        justify-content: center;
        column-gap: 4%;
        padding-top: 40px;
        margin: 0 10px;
    }

    .navigation-flex a {
        color: #000000;
        text-decoration: none;
    }

    .navigation-flex a:hover {
        color:#747474; 
        text-decoration:none; 
        cursor:pointer;  
    }
    
    .navigation-container{
        font-size: 20px;
        color: black;
    }

    .navigation-container img{
        object-fit: contain;
        max-width: 130px;
        margin-bottom: 10px;
    }

    .social-media{
        display: flex;
        column-gap: 15px;
        justify-content: right;
        align-items: center;
        margin-bottom: 20px;
        margin-right: 30px;
        font-size: 18px;
    }
    
    .social-media img{
        max-width: 30px;
        width: 100%;
        max-height: 30px;
        height: 100%;
        border-radius: 10px;
    }
}

/*------------------------------------------------------------------------------------------------------*/

/* ContainerTop Styling----------------------------------------------------------------------------------*/

.containerTop {
    width: 100%;
    height: 100vh;
    z-index:-5;
}

.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -4;
    object-position: center;
}

.contentTop{
    position: relative;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 80%;
    text-align: center;
    color: white;
}

#home-title{
    font-size: 50px;
    font-weight: normal;
    margin: 30px;
    color: rgba(255,255,255,0.9)
}

.contentTop button{
    margin-bottom: 10px;
}

.button-style {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0 15px;
    min-height: 2.5rem;
    padding: 0;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 200px;
  }
  
  .button-style:hover, .button-style:focus {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgb(0, 0, 0, 1);
    background-color: rgba(210, 210, 210, 0.8)
  }

  .discover-more{
    background-color: #393939;
    color: white;
  }

  .discover-more:hover, .discover-more:focus{
    background-color: rgba(122, 122, 122, 0.8);
    color: white;
  }

/*----------------------------------------------------------------------------------------------------------*/



/* ContainerMiddle Styling----------------------------------------------------------------------------------*/
.containerMiddle{
    width: 100%;
    height: 100vh;
    z-index:-1;
    background-color: #181818;
}

.buttonSection{
    display: flex;
    justify-content: center;
    align-items: center;
}

.latestRelease{
    width: 100%;
    display: block;
    font-size: 2rem;
    text-align: center;
    padding-top: 120px;
    color: white;
    font-weight: bold;
}

.sliderContainer{
    display: block;
    margin: auto 0;
}

.slider-wrapper{
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.slider{
    display: flex;
    width: 100%;
    height: 60vh;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;
    align-items: center;
    z-index:2;
}

#swipe-left{
    fill: rgba(255,255,255,.5);
    width: 100%;
    margin-bottom: 5px;
}

.slider-nav a {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
}

@media (max-width: 480px){        
    .slider img{
        flex: 1 0 100%;
        scroll-snap-align: start;
        object-fit: contain;
        justify-content: center;
        padding: 10%;
        z-index: 997;
    }
    
    .slider-nav{
        display: flex;
        justify-content: center;
        column-gap: 5%;
        z-index: 1;
        margin-bottom: 20px;
    }
    .slider-nav a {
        width: 1rem;
        height: 1rem;
    }
}

@media (min-width: 480px){       
    .slider img{
        flex: 1 0 100%;
        scroll-snap-align: start;
        object-fit: contain;
        justify-content: center;
        padding: 15%;
    }
    
    .slider-nav{
        display: flex;
        justify-content: center;
        column-gap: 2%;
        z-index: 1;
        margin-bottom: 40px;
    }
}

@media (min-width: 1440px){
    .slider img{
        flex: 1 0 100%;
        scroll-snap-align: start;
        object-fit: contain;
        justify-content: center;
        padding: 25%;
    }
}

/*----------------------------------------------------------------------------------------------------------*/


/* ContainerBottom Styling----------------------------------------------------------------------------------*/
.containerBottom{
    width: 100%;
    height: 100vh;
    z-index:-1;
    background-color: #181818;
    display: block;
    color: white;
    overflow-y: scroll;
}

.containerBottom-header{
    margin-top: 100px;
}

.containerBottom-header h1{
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
}

.containerBottom-header p{
    font-size: 1.25rem;
    text-align: center;
}

.cartype-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-flow: wrap row;
}

.cartype-box{
    max-width: 350px;
    background-color: #D9D9D9;
    border: 1px solid rgb(230, 230, 230);
    margin: 20px;
}

#cartype-img {
    width: 100%;
    height: auto;
}

#cartype-img img {
    max-width: 414px;
    max-height: 244px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin: 30px;
}

.cartype-content{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

#cartype-title{
    font-size: 1.3rem;
    font-weight: 500;
    font-weight: bold;
}

#cartype-title:hover{
    color: #674188;
    transition: all ease 0.2s;
}

.cartype-content p {
    color:gray;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

#explore-more{
    font-weight: bold;
}

#explore-more:hover{
    color: #674188;
    transition: all ease-in 0.2s;
}

@media(max-width:1250px){
    .cartype-box{
        width:300px;
    }
}

@media(max-width: 1100px){
    .cartype-box{
        width:80%;
    }
}

@media(max-width: 550px){
    .cartype-box{
        margin: 20px 10px;
        width: 75%;
    }

    .containerBottom-header h1{
        font-size: 2rem;
        width: 100%;
        text-align: center;
    }
    
    .containerBottom-header p{
        font-size: 1rem;
        text-align: center;
    }

    header{
        padding:20px;
    }
}


/*----------------------------------------------------------------------------------------------------------*/

/* Styling of footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #ececec;
    text-align: center;
}

.social-icons a:link, .footer-links a:link {
    color: #000000;
    text-decoration: none;
}

.social-icons a:hover, .footer-links a:hover {
    color:#747474; 
    text-decoration:none; 
    cursor:pointer;  
}

.social-icons a:visited, .footer-links a:visited{
    color: #000000;
    text-decoration: none;
}

.social-icons a:active, .footer-links a:active{
    color: #000000;
    text-decoration: none;
}

#footer-title{
    font-weight: bold;
    font-size: 18px;
}

.social-icons, .footer-links{
    display: flex;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.social-icons img{
    max-width: 30px;
    width: 100%;
    max-height: 30px;
    height: 100%;
    border-radius: 10px;
}

.copyright{
    font-size: 12px;
    color: #929292
}